*.o
*.out
huff
.DS_Store
compile_commands.json
.cache/
tmp.*
archive.huff
tests/random.bin
tests/tmp/*
TODO.md
build/
build-tests/
tests/benchmark.sh
experiments/data/
experiments/plots/
experiments/benchmark/result.csv
.venv/
experiments/plots/*
!experiments/plots/.gitkeep
